<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : Dao 인터페이스와 연결하여 mybatis 로 하여금 클래스를 작성하도록 하기 위한 설정 -->
<mapper namespace="com.callor.page.persistance.CategoryDao">

	<select id="selectAll" resultType="CategoryVO">
		SELECT * FROM tbl_category
	</select>
	<select id="findById" resultType="CategoryVO">
		SELECT * FROM tbl_category
		WHERE cat_code = #{cat_code}
	</select>
	<insert id="insert" parameterType="CategoryVO">
		INSERT INTO tbl_category(
		cat_name,
		cat_code
		) VALUES (
		#{cat_name},
		#{cat_code}
		)
	</insert>
	<update id="update" parameterType="CategoryVO">
		UPDATE tbl_category SET
		cat_name = #{cat_name}
		WHERE cat_code = #{cat_code}
	</update>
	<delete id="delete">
		DELETE FROM tbl_category WHERE cat_code= #{cat_code}
	</delete>

</mapper> 